/* Admin Dashboard Styles */
/* Hiding scrollbar */
::-webkit-scrollbar {
  display: none;
}

.dashboard-container {
  height: 100vh;
  overflow: hidden;
}

.hover-card {
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.hover-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/* User Card specific styles */
.user-avatar-placeholder {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
